<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276870058509-nn6e8ric8mngtphksc18fqp3hmivuop9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276870058509-nn6e8ric8mngtphksc18fqp3hmivuop9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>276870058509-3qvlqa0ujoqah69jlnf68fc162n3dpm6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIf8gjgqlr7RD0GepW1kmsH5_pFVl4Nu0</string>
	<key>GCM_SENDER_ID</key>
	<string>276870058509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safebump</string>
	<key>PROJECT_ID</key>
	<string>safebump-90881</string>
	<key>STORAGE_BUCKET</key>
	<string>safebump-90881.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276870058509:ios:d8664d94d50c3bc0dafb44</string>
</dict>
</plist>